@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.editor-menu {
  width: 600px;
  margin-bottom: 10px;
}

.editor-menu .btn {
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background-color: #dfdfdf;
  cursor: pointer;
}

.editor-menu .btn-download {
  width: 200px;
  background-color: #804848;
  color: white;
}

.editor-menu .btn-load {
  width: 200px;
  background-color: #804848;
  color: white;
}

#file {
  margin: 20px 5px 0 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.editor-menu .active:hover {
  background-color: #aaa9a9;
}

.editor-menu .btn.active {
  background-color: #696969;
}

.text {
  padding: 30px;
  height: 600px;
  width: 600px;
  box-shadow: 1px 1px 10px #777;
}
